@use "typografi" as f;
@use "centerContent";
@use "header";
@use "article";
@use "goals";
@use "footer";

body{
    margin: 0;
}

p{
    font-family: f.$regText;
}

.imgTest{
    aspect-ratio: auto/1;
    height: 500px;
    object-fit: cover;
}